{% extends "base.html" %}

{% block title %}Innskráning{% endblock %}

{% block content %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Skráðu þig inn núna!</h1>
      <p class="py-6">Skráðu þig inn til að byrja að merkja ummæli við blogg og leggja þitt af mörkum við gagnaöflunina.</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body" method="POST" action="{{ url_for('login') }}">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Netfang</span>
          </label>
          <input type="email" name="email" placeholder="netfang" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Lykilorð</span>
          </label>
          <input type="password" name="password" placeholder="lykilorð" class="input input-bordered" required />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Gleymt lykilorð?</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Innskráning</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}